.theme_default .flashListing tr:nth-child(2n) {
    background: none repeat scroll 0 0 #ddf1e0;
}
.theme_default .flashListing tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #f1f6f2;
}
.theme_default table.flashListing {
    border-collapse: separate;
    border-spacing: 1px;
}
.theme_default table.flashListing td, table.flashListing th {
    border: 1px solid black;
}
.theme_default table.flashListing .postername {
    color: #117743;
    font-weight: bold;
    border-color: black;
}
.theme_default table.flashListing .postername a {
    color: #117743;
    font-weight: bold;
    text-decoration: underline;
}
.theme_default table.flashListing .subject {
    color: #0F0C5D;
    font-weight: bold;
    border-color: black;
}
.theme_default table.flashListing tr:hover {
    background-color: #F5F5F5;
}
.theme_default.midnight table.flashListing .postername {
    color: #C5C8C6;
    font-weight: bold;
    border-color: black;
}
.theme_default.midnight table.flashListing .postername a {
    color: #C5C8C6;
    font-weight: bold;
    text-decoration: underline;
}
.theme_default.midnight table.flashListing .subject {
    color: #C5C8C6;
    font-weight: bold;
    border-color: black;
}
.theme_default.midnight .flashListing tr:nth-child(2n) {
    background: none repeat scroll 0 0 #1d1f21;
}
.theme_default.midnight .flashListing tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #32363a;
}
.theme_default.midnight table.flashListing tr:hover {
    background-color: #000000;
}
.theme_default.yotsuba table.flashListing tr:nth-child(2n) {
    background: none repeat scroll 0 0 transparent;
}
.theme_default.yotsuba table.flashListing tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #ede2d4;
}
.theme_default.yotsuba_b table.flashListing tr:nth-child(2n) {
    background: none repeat scroll 0 0 transparent;
}
.theme_default.yotsuba_b  table.flashListing tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #e0e5f6;
}